@* Referencia al Modelo a utilizar *@
@model Huellitas.SysVeterinaria.EN.Pet_Owner_EN.PetOwner

@{
    ViewData["Title"] = "Eliminar Dueño"; // Titulo de la Pestaña
}
<br />
<br />
<br />
<h2>Eliminar Dueño Existente</h2>
<br />
<h5>Este registro pertenece a: @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.LastName) con Dui: @Html.DisplayFor(model => model.Dui)</h5>
<br />
<div class="alert alert-danger" role="alert">
    Estas Seguro De Eliminar el Siguiente Registro? Recuerda No Puedes Revertir Los Cambios
</div>
<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Información Personal</h2>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Dui)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Dui)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BirthDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Age)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                </dl>
            </div>
            <div class="col">
                <h2>Información Adicional</h2>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EmergencyNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EmergencyNumber)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar Registro" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Regresar</a>
    </form>
</div>
