@* Referencia al Modelo a utilizar *@
@model Huellitas.SysVeterinaria.EN.Pet_Owner_EN.PetOwner

@{
    ViewData["Title"] = "Detalles del Dueño"; // Titulo de la Pestaña
}
<br />
<br />
<br />
<h2>Detalles del Dueño de Mascota</h2>
<hr />
<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Información Personal</h2>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Dui)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Dui)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BirthDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Age)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                </dl>
            </div>
            <div class="col">
                <h2>Información Adicional</h2>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EmergencyNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EmergencyNumber)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar Registro</a> |
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>

