﻿@* Referencia al Modelo a utilizar *@
@model Huellitas.SysVeterinaria.EN.Services_EN.Service

@{
    ViewData["Title"] = "Detalles del Servicio"; // Titulo de la Pestaña
}
<br />
<br />
<br />
<h1>Detalles sobre el Servicio</h1>
<br />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dt class="col-sm-10">
            @{
                var formattedPrice = string.Format("{0:#,0.00}", Model.Price);
            }
            $ @formattedPrice
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar Registro</a> |
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>
